<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.bridgestudio.kangup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Views.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".Views.ForgotActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Views.TypesOfAutomobiles"
            android:label="@string/title_activity_types"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.CarsXtype"
            android:label="@string/title_activity_types"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.CatalogCar"
            android:label="@string/title_activity_types"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Controllers.BaseActivity"
            android:label="@string/title_activity_types"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.PaymentActivity"></activity>
    </application>

</manifest>